body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #212529;
    color: #bb86fc;
    width: 400px;
    min-width: 300px;
}
h1 {
    margin-bottom: 5px;
}

h2 {
    color: #ddc6fa;
    font-weight: 50;
    margin-top: 0;
}

input {
    border: 1px #05407b solid;
    margin-bottom: 15px;
    padding-left: 5px;
    width: 300px;
    background-color: #ddc6fa;
    outline: lightblue;
}

button {
    background-color:   #6a3093;
    color: #e2cbff;
    font-weight: 600;
    margin-right: 9px;
    border: 1px solid #6a3093;
    cursor: pointer;
}

#delete {
    background-color: #e2cbff;
    color: #6a3093;
    
}

button:active {
    transform: translateY(1px)
}

a {
    color: #ddc6fa;
}

ul {
    color: #ddc6fa;
}